.container{
    margin: 0;
    padding: 0;
    border-radius: 8px;
}

.container:hover{
    transform: translateY(-8px);
    cursor: pointer;
}

.box {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: row-reverse;
    background-color: #F4F4F4;
    border-radius: 8px;
}

.boxGit{
    color: red;
}

.boxGit:hover{
    color:var(--blue-dark);
    cursor: pointer;
}

.box img{
    width: 100%;
    border-radius: 8px;
}