.container{
    margin: 10px;
    padding: 0;
    border-radius: 8px;
}

.container:hover{
    transform: translateY(-8px);
    cursor: pointer;
}

.box {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--white);
    border-radius: 8px;
}

.boxGit{
    color: red;
}

.boxGit:hover{
    color:#000;
    cursor: pointer;
}

.box img{
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    object-fit: cover;
}

@media (max-width: 420px){
    .box {
        width: 270px;
        height: 180px;
    }
}


@media (max-width: 350px){
    .box {
        width: 240px;
        height: 180px;
    }
    .box img{
        width: 250px;
        overflow: hidden;
        object-fit: contain;
    }
}

@media (max-width: 300px){
    .box {
        width: 220px;
        height: 180px;
    }
}

