.container {
    background-color: var(--white);
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-width: 0px;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: #fff;
}


.box {
    color: #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.box h1{
    margin:0px;
}

.boxName {
    color: #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 55px;
}

.boxInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40%;
}

.boxTags {
    color: #000;
    width: 100%;
    height: 50px;
    margin: 5px;
    display: flex;
    justify-content: center;
    border-width: 0px;
}


.boxTags h3::after{
    content: '';
    display: block;
    border-bottom: solid 3px var(--red);  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

.boxTags h3:hover::after{
    transform: scaleX(1);  
}


.box h1::after{
    content: '';
    display: block;
    border-bottom: solid 3px var(--red);  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

.box h1:hover::after{
    transform: scaleX(1);  
}

@media (max-width: 520px){ 
    .boxName {
        height: 45px;
    }
    
    .boxName h1{
        font-size: 1.0rem;
    }

    .boxTags h3 {
        font-size: 0.8rem;
    }
    .boxTags {
        height: 45px;
    }
    .icon{
        height: 45px;
        width: 45px;
    }
}

@media (max-width: 420px){ 
    .container {
        justify-content: space-around;
    }

    .boxName {
        height: 30px;
    }
    
    .boxName h1{
        font-size: 0.8rem;
    }

    .boxTags h3 {
        font-size: 0.5rem;
    }
    .boxTags {
        height: 30px;
    }
    .icon{
        height: 30px;
        width: 30px;
    }
}