@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Source+Code+Pro:wght@400;700&family=Zen+Kaku+Gothic+Antique:wght@700&display=swap');

.container {
    margin: 0px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--gray-dark);
    width: 100%;
    height: 100%;

}
.boxPhoto {
    margin: 0px;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.Photo {
    width: 400px;
    border-radius: 50%;
}


.boxResume {
    display: flex;
    width: 60%;
    margin:10px;
    padding: 15px;
    border-radius: 15px;
    flex-direction: column;
    box-shadow: inset 3px 3px 9px #000;
}

.boxTitle {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.boxTitle h2 {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   font-family: 'Source Code Pro', monospace;
   font-weight: bold;
}

.boxResume p{
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    text-align: justify;
 }



.boxResume {
    color: #fff;
}

.nameDestaq {
    color: var(--red);
}


.boxIcons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Icon {
    margin: 5px;
    color: var(--red);
}

.Icon:hover{
    color: var(--white);
    cursor: pointer;
}

@media (max-width: 1020px){
    .Photo {
        width: 320px;
        border-radius: 50%;
    }
}

@media (max-width: 900px){
    .Photo {
        width: 250px;
        border-radius: 50%;
    }
}

@media (max-width: 720px){
    .container{
        flex-direction: column;
    }
    .Photo {
        width: 200px;
        border-radius: 50%;
        margin: 15px;
    }
    .boxPhoto {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 300px){
    .Photo {
        width: 150px;
    }
}
