.container {
    margin: 0px;
    padding: 0px 0px 0px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--gray-dark);
    width: 100%;
    height: 100%;

}
.boxPhoto {
    margin: 0px;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.Photo {
    width: 400px;
    border-radius: 0px 0px 0px 35px;
    background-color: red;
}


.boxResume {
    display: flex;
    width: 60%;
    margin:10px;
    padding: 15px;
    border-radius: 15px;
    flex-direction: column;
    box-shadow: inset 3px 3px 9px #000;
}

.boxTitle {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.boxTitle h2 {
    margin-left: 5px;
}



.boxResume {
    color: #fff;
}

.nameDestaq {
    color: var(--red);
}

.particles {
    width: 100%;
    height: 100%;
    background-color: var(--gray-dark);
    background: rgb(33,36,50);
}

.boxIcons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Icon {
    margin: 5px;
    color: var(--red);
}

.Icon:hover{
    color: var(--white);
    cursor: pointer;
}

@media (max-width: 1020px){
    .Photo {
        width: 320px;
        border-radius: 50%;
    }
}

@media (max-width: 900px){
    .Photo {
        width: 250px;
        border-radius: 50%;
    }
}

@media (max-width: 720px){
    .container{
        flex-direction: column;
    }
    .Photo {
        width: 200px;
        border-radius: 50%;
        margin: 15px;
    }
    .boxPhoto {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 300px){
    .Photo {
        width: 150px;
    }
}
