@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Source+Code+Pro:wght@400;700&family=Zen+Kaku+Gothic+Antique:wght@700&display=swap');

.container {
    margin: 0px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--gray-dark);
    width: 100%;
    height: 100vh;

}
.boxPhoto {
    margin: 0px;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.Photo {
    width: 400px;
    border-radius: 50%;
}


.boxResume {
    display: flex;
    width: 60%;
    margin:10px;
    padding: 15px;
    border-radius: 15px;
    flex-direction: column;
    box-shadow: inset 3px 3px 9px #000;
}

.boxTitle {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.boxTitle h2 {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   font-family: 'Source Code Pro', monospace;
   font-weight: bold;
}

.boxResume p{
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    text-align: justify;
 }



.boxResume {
    color: #fff;
}

.nameDestaq {
    color: var(--red);
}


.boxIcons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Icon {
    margin: 5px;
    color: var(--red);
}

.Icon:hover{
    color: var(--white);
    cursor: pointer;
}

@media (max-width: 1020px){
    .Photo {
        width: 320px;
        border-radius: 50%;
    }
}

@media (max-width: 900px){
    .Photo {
        width: 250px;
        border-radius: 50%;
    }
}

@media (max-width: 720px){
    .container{
        flex-direction: column;
    }
    .boxTitle h2{
       font-size: 20px;
    }

    .boxResume h3{
        font-size: 15px;
    }
    .boxResume p{
        font-size: 12px;
    }
    .Photo {
        width: 200px;
        border-radius: 50%;
        margin: 10px;
    }
    .boxPhoto {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 600px){
    .boxTitle h2{
       font-size: 18px;
    }

    .boxResume h3{
        font-size: 13px;
    }
    .boxResume p{
        font-size: 11px;
    }
    .Icon{
        width: 35px;
        height: 35px;
    }
}

@media (max-width: 410px){
    .boxTitle h2{
       font-size: 17px;
    }

    .boxResume h3{
        font-size: 11px;
    }
    .boxResume p{
        font-size: 10px;
    }
    .Icon{
        width: 30px;
        height: 30px;
    }
}


@media (max-width: 320px){
    .Photo {
        width: 150px;
    }
    .boxTitle h2{
        font-size: 16px;
     }
 
     .boxResume h3{
         font-size: 10px;
     }
     .boxResume p{
         font-size: 9px;
     }
     .Icon{
         width: 20px;
         height: 20px;
     }
}
