.container{
    background-color: var(--gray-dark);
    width: 100%;
    padding: 5px;
    color:var(--red);
}

.boxCards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
}

