.container {
    margin: 0px;
    padding: 5px;
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.boxTechs {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    flex-wrap: wrap;
}

