@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


:root{
  --background-green:#15202B;
  --title: #FFF;
  --white: #FFF;
  --text: #9dafbd;
  --background-alerta:#345580;
  --blue-dark:#0bfcda;
  --gray-dark:#1d1d1d;
  --red:#641c1c;
}


